
.vs/NArchitecture/FileContentIndex/0512a341-01c3-4a84-b7d2-4d3f2930b823.vsidx
.vs/NArchitecture/FileContentIndex/0f61fdaa-24da-4e49-b6ab-35803805f6f4.vsidx
.vs/NArchitecture/FileContentIndex/1d8dbd49-8fb4-4bd1-8315-da9c5e33bede.vsidx
.vs/NArchitecture/FileContentIndex/1f42a537-9318-4e8d-8f33-12322e857942.vsidx
.vs/NArchitecture/FileContentIndex/4aa91dda-7c17-4dbe-8af0-c56899271f3e.vsidx
.vs/NArchitecture/FileContentIndex/72087f13-5a05-403f-9346-ae717bc7d717.vsidx
.vs/NArchitecture/FileContentIndex/84fa2d5e-e487-446e-9d5c-4e21cb8c009d.vsidx
.vs/NArchitecture/FileContentIndex/9e4c1720-a345-426a-9d73-5d595e275a23.vsidx
.vs/NArchitecture/FileContentIndex/b51453a6-8a95-4ea1-a1bc-f6c91b21bc69.vsidx
.vs/NArchitecture/FileContentIndex/c6949293-c827-4b69-857e-2100a6a6c9f1.vsidx
.vs/NArchitecture/v17/.suo
.vs/NArchitecture/v17/DocumentLayout.backup.json
.vs/NArchitecture/v17/DocumentLayout.json
.vs/ProjectEvaluation/narchitecture.metadata.v9.bin
.vs/ProjectEvaluation/narchitecture.projects.v9.bin
.vs/ProjectEvaluation/narchitecture.strings.v9.bin
obj/Docker/ContainerToolsExceptions.json
obj/Docker/PrerequisiteFailureTelemetry.json
src/starterProject/Application/bin/Debug/net9.0/Application.dll
src/starterProject/Application/bin/Debug/net9.0/Application.pdb
src/starterProject/Application/bin/Debug/net9.0/Domain.dll
src/starterProject/Application/bin/Debug/net9.0/Domain.pdb
src/starterProject/Application/obj/Application.csproj.nuget.dgspec.json
src/starterProject/Application/obj/Application.csproj.nuget.g.props
src/starterProject/Application/obj/Debug/net9.0/Application.AssemblyInfo.cs
src/starterProject/Application/obj/Debug/net9.0/Application.AssemblyInfoInputs.cache
src/starterProject/Application/obj/Debug/net9.0/Application.assets.cache
src/starterProject/Application/obj/Debug/net9.0/Application.csproj.AssemblyReference.cache
src/starterProject/Application/obj/Debug/net9.0/Application.csproj.CoreCompileInputs.cache
src/starterProject/Application/obj/Debug/net9.0/Application.csproj.FileListAbsolute.txt
src/starterProject/Application/obj/Debug/net9.0/Application.dll
src/starterProject/Application/obj/Debug/net9.0/Application.GeneratedMSBuildEditorConfig.editorconfig
src/starterProject/Application/obj/Debug/net9.0/Application.pdb
src/starterProject/Application/obj/Debug/net9.0/Application.sourcelink.json
src/starterProject/Application/obj/Debug/net9.0/ref/Application.dll
src/starterProject/Application/obj/Debug/net9.0/refint/Application.dll
src/starterProject/Application/obj/project.assets.json
src/starterProject/Application/obj/project.nuget.cache
src/starterProject/Domain/bin/Debug/net8.0/Domain.dll
src/starterProject/Domain/bin/Debug/net8.0/Domain.pdb
src/starterProject/Domain/obj/Debug/net8.0/Domain.AssemblyInfo.cs
src/starterProject/Domain/obj/Debug/net8.0/Domain.AssemblyInfoInputs.cache
src/starterProject/Domain/obj/Debug/net8.0/Domain.assets.cache
src/starterProject/Domain/obj/Debug/net8.0/Domain.csproj.AssemblyReference.cache
src/starterProject/Domain/obj/Debug/net8.0/Domain.csproj.CoreCompileInputs.cache
src/starterProject/Domain/obj/Debug/net8.0/Domain.csproj.FileListAbsolute.txt
src/starterProject/Domain/obj/Debug/net8.0/Domain.dll
src/starterProject/Domain/obj/Debug/net8.0/Domain.GeneratedMSBuildEditorConfig.editorconfig
src/starterProject/Domain/obj/Debug/net8.0/Domain.pdb
src/starterProject/Domain/obj/Debug/net8.0/Domain.sourcelink.json
src/starterProject/Domain/obj/Debug/net8.0/ref/Domain.dll
src/starterProject/Domain/obj/Debug/net8.0/refint/Domain.dll
src/starterProject/Domain/obj/Domain.csproj.nuget.dgspec.json
src/starterProject/Domain/obj/Domain.csproj.nuget.g.props
src/starterProject/Domain/obj/project.assets.json
src/starterProject/Domain/obj/project.nuget.cache
src/starterProject/Infrastructure/bin/Debug/net9.0/Application.dll
src/starterProject/Infrastructure/bin/Debug/net9.0/Application.pdb
src/starterProject/Infrastructure/bin/Debug/net9.0/Domain.dll
src/starterProject/Infrastructure/bin/Debug/net9.0/Domain.pdb
src/starterProject/Infrastructure/bin/Debug/net9.0/Infrastructure.dll
src/starterProject/Infrastructure/bin/Debug/net9.0/Infrastructure.pdb
src/starterProject/Infrastructure/obj/Debug/net9.0/Infrastructure.AssemblyInfo.cs
src/starterProject/Infrastructure/obj/Debug/net9.0/Infrastructure.AssemblyInfoInputs.cache
src/starterProject/Infrastructure/obj/Debug/net9.0/Infrastructure.assets.cache
src/starterProject/Infrastructure/obj/Debug/net9.0/Infrastructure.csproj.AssemblyReference.cache
src/starterProject/Infrastructure/obj/Debug/net9.0/Infrastructure.csproj.CoreCompileInputs.cache
src/starterProject/Infrastructure/obj/Debug/net9.0/Infrastructure.csproj.FileListAbsolute.txt
src/starterProject/Infrastructure/obj/Debug/net9.0/Infrastructure.dll
src/starterProject/Infrastructure/obj/Debug/net9.0/Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
src/starterProject/Infrastructure/obj/Debug/net9.0/Infrastructure.pdb
src/starterProject/Infrastructure/obj/Debug/net9.0/Infrastructure.sourcelink.json
src/starterProject/Infrastructure/obj/Debug/net9.0/ref/Infrastructure.dll
src/starterProject/Infrastructure/obj/Debug/net9.0/refint/Infrastructure.dll
src/starterProject/Infrastructure/obj/Infrastructure.csproj.nuget.dgspec.json
src/starterProject/Infrastructure/obj/Infrastructure.csproj.nuget.g.props
src/starterProject/Infrastructure/obj/project.assets.json
src/starterProject/Infrastructure/obj/project.nuget.cache
src/starterProject/Persistence/bin/Debug/net9.0/Application.dll
src/starterProject/Persistence/bin/Debug/net9.0/Application.pdb
src/starterProject/Persistence/bin/Debug/net9.0/Domain.dll
src/starterProject/Persistence/bin/Debug/net9.0/Domain.pdb
src/starterProject/Persistence/bin/Debug/net9.0/Persistence.dll
src/starterProject/Persistence/bin/Debug/net9.0/Persistence.pdb
src/starterProject/Persistence/obj/Debug/net9.0/Persistence.AssemblyInfo.cs
src/starterProject/Persistence/obj/Debug/net9.0/Persistence.AssemblyInfoInputs.cache
src/starterProject/Persistence/obj/Debug/net9.0/Persistence.assets.cache
src/starterProject/Persistence/obj/Debug/net9.0/Persistence.csproj.AssemblyReference.cache
src/starterProject/Persistence/obj/Debug/net9.0/Persistence.csproj.CoreCompileInputs.cache
src/starterProject/Persistence/obj/Debug/net9.0/Persistence.csproj.FileListAbsolute.txt
src/starterProject/Persistence/obj/Debug/net9.0/Persistence.dll
src/starterProject/Persistence/obj/Debug/net9.0/Persistence.GeneratedMSBuildEditorConfig.editorconfig
src/starterProject/Persistence/obj/Debug/net9.0/Persistence.genruntimeconfig.cache
src/starterProject/Persistence/obj/Debug/net9.0/Persistence.pdb
src/starterProject/Persistence/obj/Debug/net9.0/Persistence.sourcelink.json
src/starterProject/Persistence/obj/Debug/net9.0/ref/Persistence.dll
src/starterProject/Persistence/obj/Debug/net9.0/refint/Persistence.dll
src/starterProject/Persistence/obj/Persistence.csproj.nuget.dgspec.json
src/starterProject/Persistence/obj/Persistence.csproj.nuget.g.props
src/starterProject/Persistence/obj/project.assets.json
src/starterProject/Persistence/obj/project.nuget.cache
src/starterProject/WebAPI/bin/Debug/net9.0/Application.dll
src/starterProject/WebAPI/bin/Debug/net9.0/Application.pdb
src/starterProject/WebAPI/bin/Debug/net9.0/Domain.dll
src/starterProject/WebAPI/bin/Debug/net9.0/Domain.pdb
src/starterProject/WebAPI/bin/Debug/net9.0/Infrastructure.dll
src/starterProject/WebAPI/bin/Debug/net9.0/Infrastructure.pdb
src/starterProject/WebAPI/bin/Debug/net9.0/Persistence.dll
src/starterProject/WebAPI/bin/Debug/net9.0/Persistence.pdb
src/starterProject/WebAPI/bin/Debug/net9.0/WebAPI.dll
src/starterProject/WebAPI/bin/Debug/net9.0/WebAPI.exe
src/starterProject/WebAPI/bin/Debug/net9.0/WebAPI.pdb
src/starterProject/WebAPI/obj/Debug/net9.0/apphost.exe
src/starterProject/WebAPI/obj/Debug/net9.0/ref/WebAPI.dll
src/starterProject/WebAPI/obj/Debug/net9.0/refint/WebAPI.dll
src/starterProject/WebAPI/obj/Debug/net9.0/WebAPI.AssemblyInfo.cs
src/starterProject/WebAPI/obj/Debug/net9.0/WebAPI.AssemblyInfoInputs.cache
src/starterProject/WebAPI/obj/Debug/net9.0/WebAPI.assets.cache
src/starterProject/WebAPI/obj/Debug/net9.0/WebAPI.csproj.AssemblyReference.cache
src/starterProject/WebAPI/obj/Debug/net9.0/WebAPI.csproj.CoreCompileInputs.cache
src/starterProject/WebAPI/obj/Debug/net9.0/WebAPI.csproj.FileListAbsolute.txt
src/starterProject/WebAPI/obj/Debug/net9.0/WebAPI.dll
src/starterProject/WebAPI/obj/Debug/net9.0/WebAPI.GeneratedMSBuildEditorConfig.editorconfig
src/starterProject/WebAPI/obj/Debug/net9.0/WebAPI.genruntimeconfig.cache
src/starterProject/WebAPI/obj/Debug/net9.0/WebAPI.pdb
src/starterProject/WebAPI/obj/Debug/net9.0/WebAPI.sourcelink.json
src/starterProject/WebAPI/obj/project.assets.json
src/starterProject/WebAPI/obj/project.nuget.cache
src/starterProject/WebAPI/obj/WebAPI.csproj.nuget.dgspec.json
src/starterProject/WebAPI/obj/WebAPI.csproj.nuget.g.props
src/starterProject/WebAPI/WebAPI.csproj.user
src/starterProject/Application/obj/Debug/net9.0/Application.AssemblyInfo.cs
/.vs/NArchitecture/FileContentIndex
/.vs/NArchitecture/DesignTimeBuild
/src/starterProject/Domain/obj/Debug/net8.0
/.vs/NArchitecture/DesignTimeBuild
src/starterProject/Application/Features/Promt/Queries/GetPromtQuery.cs
.vs/NArchitecture/DesignTimeBuild/.dtbcache.v2
src/starterProject/Domain/obj/Debug/net8.0/Domain.AssemblyInfo.cs
.vs/NArchitecture/v17/.suo
.vs/NArchitecture/config/applicationhost.config
*.dll
*.pdb
src/starterProject/Application/obj/Debug/net9.0/Application.AssemblyInfo.cs
*.cache
src/starterProject/Application/obj/Debug/net9.0/Application.csproj.FileListAbsolute.txt
src/starterProject/WebAPI/obj/Debug/net9.0/WebAPI.AssemblyInfo.cs
*.cache
src/starterProject/Domain/obj/Debug/net8.0/Domain.AssemblyInfo.cs
obj/Docker/ContainerToolsExceptions.json
*.v2
obj/Docker/ContainerToolsExceptions.json
src/starterProject/Domain/obj/Debug/net8.0/Domain.AssemblyInfo.cs
src/starterProject/Domain/obj/Debug/net8.0/Domain.AssemblyInfoInputs.cache
obj/Docker/ContainerToolsExceptions.json
src/starterProject/Domain/obj/Debug/net8.0/Domain.AssemblyInfo.cs
src/starterProject/Domain/obj/Debug/net8.0/Domain.AssemblyInfoInputs.cache
obj/Docker/ContainerToolsExceptions.json
/src/starterProject/Domain/obj/Debug/net8.0
*.cache
obj/Docker/ContainerToolsExceptions.json
obj/Docker/ContainerToolsExceptions.json
src/starterProject/WebAPI/appsettings.Development.json
